<%- include('header'); %>
  <main>
     </section>
    <section class="talk-to-experts">
      <div class="container">
        <div class="counter-container flex space-btwn">
          <div class="counter-item users flex column center-x-column">
            <p class="number font-bold" data-target='11'></p>
               <span class="sufix font-bold"></span> 
               <p class="title font-bold">Adverse Events</p>
          </div>
          <div class="counter-item countries flex column center-x-column">
            <p class="number font-bold" data-target="6000"></p>
            <p class="title font-bold">Device Class</p>
          </div>
          <div class="counter-item experts flex column center-x-column">
            <p class="number font-bold" data-target='200000'></p> 
             <span class="sufix font-bold"></span> 
             <p class="title font-bold">Approvals</p>
          </div>
        </div>
      </div>
      <div class="container content-container flex center-y-row">
        <div class="text-content">
          <h3 class="title">Start Using Our <span class="blue-text">AI Models</span></h1>
          <p class="description">Contact us to build custom classifiers, and extractors for your use-cases to perform text-analysis</p>
          <a href="product" class="primary-button transition">Text Classifier</a>
        </div>
        <div class="image-content">
          <img width="521" height="284" src="../images/howitworks.png" alt="Imagem">
        </div>
      </div>
    </section>
    <div class="footer">
      Copyright &copy; 2021 &mdash; SmartHealth
    </div>
  </main>

  <script type="text/javascript" src="../javascripts/script.js"></script>


</body>
</html>
