<%- include('header'); %>

  <main>
    <section id="models" class="healthcare container">
      <div class="text-content">
        <h4 class="title txt-center font-bold"><span class="red-text"> OpenFDA</span> Trained Models</h4>
        <p class="description txt-center">
         Bioinformatics and Machine Learning Enabled Platform 
         Bringing openFDA data to your fingertips.
        </p>
      </div>
      <div id="models" class="cards-container flex center-x-row">
        <a href="product" class="models" style="color: black;">
        <div class="card-item flex column center-x-column">
          <svg width="65" height="73" viewBox="0 0 65 73" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M64.4813 25.6102H43.0528V72.4102H35.9099V50.8102H28.7671V72.4102H21.6242V25.6102H0.195633V18.4102H64.4813V25.6102ZM32.3385 0.410156C34.2329 0.410156 36.0497 1.16873 37.3893 2.51899C38.7288 3.86925 39.4813 5.7006 39.4813 7.61016C39.4813 9.51971 38.7288 11.3511 37.3893 12.7013C36.0497 14.0516 34.2329 14.8102 32.3385 14.8102C30.4441 14.8102 28.6273 14.0516 27.2877 12.7013C25.9482 11.3511 25.1956 9.51971 25.1956 7.61016C25.1956 3.61416 28.3742 0.410156 32.3385 0.410156Z" fill="#EC5863"/>
          </svg>            
          <h5 class="title font-bold">Device Class</h5>
          <!-- <h5 class="title font-bold">{{obj1.title}}</h5> -->
          <p class="description txt-center">Medical device names, their associated product codes, their classifications, and area of specialization</p>
          <!-- <p class="description txt-center">{{obj1.description}}</p> -->
        </div> 
      </a>
        <a href="product" style="color: black;">
         <div class="card-item flex column center-x-column">
          <svg width="68" height="73" viewBox="0 0 68 73" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M33.7249 0.638428C27.8873 0.638428 24.3931 1.52458 22.172 2.6295C21.0601 3.18335 20.2706 3.76489 19.7397 4.36027C19.2059 4.95566 18.8696 5.83074 18.8696 5.83074C18.7824 6.05314 18.7245 6.28584 18.6972 6.52304L17.2184 25.4757C17.1989 25.592 17.2378 25.7803 17.2184 25.9077L17.046 27.8129C17.0298 27.9851 17.0298 28.1585 17.046 28.3307C17.046 37.4692 24.5515 44.9461 33.7249 44.9461C42.8983 44.9461 50.4038 37.4692 50.4038 28.3307V27.8987C50.4043 27.8701 50.4043 27.8415 50.4038 27.8129L48.7526 6.52304C48.7254 6.28584 48.6674 6.05314 48.5803 5.83074C48.5803 5.83074 48.2439 4.95566 47.7102 4.36027C47.1792 3.76212 46.3898 3.18058 45.2778 2.6295C43.0568 1.52181 39.5625 0.638428 33.7249 0.638428ZM33.7249 44.9461C15.3781 44.9461 0.367126 53.5474 0.367126 61.3012V72.6384H67.0827V61.3012C67.0827 53.935 53.5117 45.8212 36.4186 45.032C35.5219 44.973 34.6235 44.9444 33.7249 44.9461ZM33.7249 6.17689C39.0066 6.17689 41.6446 7.00766 42.7593 7.5615C43.1318 7.74704 43.1763 7.81904 43.2819 7.90766L44.4105 22.1C41.8531 22.255 38.3672 22.7923 33.7249 22.7923C29.0826 22.7923 25.5995 22.255 23.0393 22.1L24.1679 7.90766C24.2708 7.81904 24.318 7.74704 24.6905 7.5615C25.8052 7.00766 28.4433 6.17689 33.7249 6.17689ZM31.4649 8.94612V12.236H28.1653V16.736H31.4677V20.023H35.9821V16.7332H39.2846V12.236H35.9821V8.94612H31.4677H31.4649ZM25.3855 51.1769L32.5101 67.1H5.92676V61.3012C5.92676 59.2381 13.0153 53.1957 25.3855 51.1769ZM42.0644 51.1769C54.4346 53.1984 61.5231 59.2381 61.5231 61.3012V67.1H34.9397L42.0644 51.1769Z" fill="#EC5863"/>
          </svg>            
          <h5 class="title font-bold">FDA-Approved Devices</h5>
          <p class="description txt-center">Safe, and Effective Class II, and Class III devices on the market</p>
          <!-- <h5 class="title font-bold">{{obj2.title}}</h5>
          <p class="description txt-center">{{obj2.description}}</p> -->
        </div>
      </a>
      <a href="product" class="models" style="color: black;">
        <div class="card-item flex column center-x-column">
          <svg width="88" height="73" viewBox="0 0 88 73" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M24.5815 0.967773C18.2049 0.967773 12.0895 3.4698 7.58063 7.92344C3.07172 12.3771 0.538635 18.4175 0.538635 24.7159C0.538635 26.8748 0.932064 29.0337 1.50035 31.1927H19.3358L24.8875 16.6415C26.1989 13.1873 31.3572 12.8418 33.0183 16.6415L42.0672 39.8283L44.6464 33.697C45.2146 32.2721 46.7446 31.1927 48.6243 31.1927H87.0055C87.5738 29.0337 87.9672 26.8748 87.9672 24.7159C87.9672 18.4175 85.4341 12.3771 80.9252 7.92344C76.4163 3.4698 70.3009 0.967773 63.9243 0.967773C55.7935 0.967773 48.6243 4.98337 44.2529 11.0715C39.8815 4.98337 32.7123 0.967773 24.5815 0.967773ZM4.91006 37.6694C3.75069 37.6694 2.6388 38.1243 1.819 38.9341C0.999195 39.7438 0.538635 40.8421 0.538635 41.9873C0.538635 43.1324 0.999195 44.2307 1.819 45.0404C2.6388 45.8502 3.75069 46.3051 4.91006 46.3051H15.5763L39.8815 70.0532C44.2529 73.9393 44.2529 73.9393 48.6243 70.0532L72.9295 46.3051H83.5958C84.7551 46.3051 85.867 45.8502 86.6868 45.0404C87.5066 44.2307 87.9672 43.1324 87.9672 41.9873C87.9672 40.8421 87.5066 39.7438 86.6868 38.9341C85.867 38.1243 84.7551 37.6694 83.5958 37.6694H50.3729L46.3075 47.6005C44.5589 51.9615 39.5318 51.357 37.9143 47.73L28.9529 24.7159L24.7563 34.7765C24.1006 36.4172 22.6143 37.6694 20.6472 37.6694H4.91006Z" fill="#EC5863"/>
          </svg>            
          <h5 class="title font-bold">Adverse Events</h5>
          <p class="description txt-center">Reports of serious injuries, deaths, malfunctions, and other undesirable effects associated with the use of medical devices.</p>          
          <!-- <h5 class="title font-bold">{{obj3.title}}</h5>
          <p class="description txt-center">{{obj3.description}}</p> -->
        </div>
      </div>
      </a>
    </section>
    <div class="footer">
      Copyright &copy; 2021 &mdash; SmartHealth
    </div>
  </main>
  <script> 
  var vm1 = new Vue ({
    el: '#models',
    data: {
       obj1: {
        title: 'Device Class',
        description: 'Medical device names, their associated product codes, their classifications, and area of specialization',
       },
       obj2: {
        title: 'FDA-Approved Devices',
        description: 'Safe, and Effective Class II, and Class III devices on the market',
       },
       obj3: {
        title: 'Adverse Events',
        description: 'Reports of serious injuries, deaths, malfunctions, and other undesirable effects associated with the use of medical devices.',
       },
      }
    });
  </script> 
<script type="text/javascript" src="../javascripts/my-login.js"></script> 
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="https://unpkg.com/vue"></script>
<script type="text/javascript" src="../javascripts/script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
